---
---
@import "{{ site.theme }}";

.page-header {
  color: #e76f00;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("../img/banner_python.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid #e76f00;
}

.project-tagline {
  opacity: 1;
}

.project-tagline strong {
  color: #e76f00;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #e76f00;
}

.page-header .btn {
  display: none !important;
}