---
---
@import "{{ site.theme }}";

.page-header {
  background-image: url("../img/banner_python.jpg");
  background-size: cover;
  background-position: center;
}

.page-header .btn {
  display: none !important;
}